* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  max-width: none;
  margin: 0;
  text-align: left;
  border: none;
  display: block;
}
